
html,
body {
  padding-left: 0;
  margin: 0;
font-family: Helvetica;
   
  
  

  color: #000000;
  
  font-size: calc(.75em + .7vw);
  background-color: #afd275;






}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}






#double {
  font-size: calc(20px + 3vw);
  letter-spacing: .09em;
  color: rgb(0, 0, 0);


  
}
#z {
  color:   #ff000d;
  font-size: calc(30px + 3vw);

  
}

#zero

{
  font-size: calc(30px + 3vw);


}

#tain {
  background-color: rgba(136, 255, 0, 0);
}

.price {
  color: black;
}

.flex-container {
  display: flex;
  background-color: #777777;
  padding: calc(10px + 1.5vw);
  font-size: calc(14px + .5vw);
  

  color: rgb(0, 0, 0);



  
  box-shadow: inset 0em .3em 1em rgb(90, 90, 90);
  text-transform: lowercase;



}

.flex-container >  {
 

  padding: 5px;

 
}
.flex-container > a + a {


  padding-left: calc(10px + 1.5vw);
 
}

a + a {
  padding-left: calc(10px + 1.5vw);
}

.container2 {

  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: repeating-linear-gradient(
    90deg,
    #f4f5f0,
    #f4f5f0 6px,
    #f4f5f0 6px,
    rgba(255, 255, 255, 0) 12px
  );

}



.flex {
  display: flex;
  background-image: linear-gradient(to right, rgba(71, 0, 214, 0.137), rgba(75, 92, 128, 0.651));
  
}

.box {
  width: 40%;
  margin: 15px;
}

img {
  width: 100%;
  mix-blend-mode: multiply;
}

