@import url(//db.onlinewebfonts.com/c/9018951d09e68064bad94817e0d176d1?family=AkzidenzGrotesk);

@font-face {font-family: "Akzidenz Grotesk"; src: url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.eot"); src: url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.woff") format("woff"), url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9018951d09e68064bad94817e0d176d1.svg#AkzidenzGrotesk") format("svg"); }

@import url(//db.onlinewebfonts.com/c/724fd8501bf2e964d376105ed91c265f?family=ArnoW01-Regular);
@font-face {font-family: "ArnoW01-Regular"; src: url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.eot"); src: url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.woff") format("woff"), url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/724fd8501bf2e964d376105ed91c265f.svg#ArnoW01-Regular") format("svg"); }
html,
body {
  padding: 0;
  margin: 0;
  

  color: #000000;
  font-family: "Baskerville Old Face";
  font-size: calc(.9em + .7vw);
  background: repeating-linear-gradient(
    0deg,
    #f4f5f0,
    #f4f5f0 6px,
    #f4f5f0 6px,
    rgba(255, 255, 255, 0) 12px
  );





}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#express {

  margin-bottom: 0;
  padding-bottom: 0;
 
}

#exotic {

  margin-top: -10px;
  padding-top: 0;
}

#double {
  font-size: .6em;
  letter-spacing: .09em;
  color: rgb(0, 0, 0);
}
#z {
  color:   #ff000d;
  
}

#tain {
  background-color: rgba(136, 255, 0, 0);
}

#express {

  margin: 0;
  padding: 0;
  color: red;
  
}

#exotic {

 
  color: #000000;
}