@import url(//db.onlinewebfonts.com/c/37b29158c68de167677fa4a3087d7188?family=Tiempos+Text+Regular);
@font-face {font-family: "Tiempos Text Regular"; src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot"); src: url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff") format("woff"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.svg#Tiempos Text Regular") format("svg"); }
html,
body {
  padding-left: 0;
  margin: 0;
  font-family: "Baskerville Old Face";
   
  
  

  color: #000000;
  
  font-size: calc(.75em + .7vw);
  background: repeating-linear-gradient(
    0deg,
    #f4f5f0,
    #f4f5f0 6px,
    #f4f5f0 6px,
    rgba(255, 255, 255, 0) 12px
  );





}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}






#double {
  font-size: calc(30px + 3vw);
  letter-spacing: .09em;
  color: rgb(0, 0, 0);


  
}
#z {
  color:   #ff000d;
  font-size: calc(30px + 3vw);
  letter-spacing: .2em;

  
}

#zero

{
  font-size: calc(30px + 3vw);
  letter-spacing: .2em;


}

#tain {
  background-color: rgba(136, 255, 0, 0);
}

.price {
  color: black;
}

.flex-container {
  display: flex;
  background-color: #00000049;
  padding: calc(10px + 1.5vw);
  font-size: calc(14px + .2vw);
  

  color: rgb(255, 255, 255);


  border-top: 2px solid rgb(202, 201, 201);
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);

}

.flex-container > div {
 

  padding: 5px;
 
}
.flex-container > a + a {


  padding-left: calc(10px + 1.5vw);
 
}

a + a {
  padding-left: calc(10px + 1.5vw);
}

.container2 {

  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-image: repeating-linear-gradient(
    90deg,
    #f4f5f0,
    #f4f5f0 6px,
    #f4f5f0 6px,
    rgba(255, 255, 255, 0) 12px
  );

}